<label class="Form-item Form-item--search">
  {{input
    type="search"
    placeholder='Search Discogs…'
    value=query}}
</label>

{{search-filter type=type class="Form-item"}}


<button class="Form-item" type="submit">Search</button>
