* {
  font-size: 1em;
}

nav,
h1,
h2,
h3,
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

body {
  margin: 3vw;
  font-size: 14px;
  line-height: 1.5;
  font-family: system-ui, segoe ui, sans-serif;
  color: black;
  background: hsl(0, 0%, 96%);
}

a,
a:visited {
  color: black;
}

a.active {
  text-decoration: none;
  background: gold;
}

ul {
  padding-left: 2em;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

nav > * + * {
  margin-left: 1em;
}
