html {
  font-size: 14px;
  line-height: 1.5;
  font-family: system-ui, segoe ui, sans-serif;
  color: black;
}

body {
  margin: 3vw;
  background: hsl(0, 0%, 96%);
}

h1,
h2,
h3,
h4
p {
  font-size: 1em;
}

nav,
h1,
h2,
h3,
h4,
p,
summary {
  margin-top: 1em;
  margin-bottom: 1em;
}

a,
a:visited {
  color: black;
}

a.active {
  text-decoration: none;
  background: gold;
}

a sup {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding-left: 2em;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

nav > * + * {
  margin-left: 1em;
}

nav h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.MediaPlayer {
  position: fixed;
	z-index: 2;
	bottom: 0;
  right: 1rem;
  right: 3vw;
  width: 17rem;
  height: 30rem;
  display: none;
}

.MediaPlayer.is--active {
  display: block;
}

.MediaPlayer radio4000-player {
  height: 100%;
}

radio4000-player .Header-body {
  font-size: 1rem;
}

radio4000-player .Header-media img {
  height: 100%;
  object-fit: cover;
}

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.ScreenReader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

