{{!-- <h2>Releases</h2> --}}

{{#each-list list=model.releases as |item|}}
  {{link-to item.title "release" item.id}}
  {{#if item.videos}}
    {{play-release release=item}}
  {{/if}}
{{/each-list}}

{{outlet}}