{{#if hasPreviousPage}}
  {{link-to
      '← Previous'
      'search'
      (query-params search=search page=previousPage)}}
{{/if}}

<span>Page {{currentPage}} of {{totalPages}}</span>

{{#if hasNextPage}}
  {{link-to
      'Next →'
      'search'
      (query-params search=search page=nextPage)}}
{{/if}}