<span>(Page {{currentPage}} on {{totalPages}})</span>

{{#if hasPreviousPage}}
  {{link-to
      '← Previous'
      'search'
      (query-params search=search page=previousPage)}}
{{/if}}

{{#if hasNextPage}}
  {{link-to
      'Next →'
      'search'
      (query-params search=search page=nextPage)}}
{{/if}}