{{#if model.aliases}}
  <h3>Aliases (artists)</h3>
  {{#each-list model.aliases as |artist|}}
    {{link-to artist.name "artist" artist}}
  {{/each-list}}
{{/if}}

{{#if model.groups}}
  <h3>Groups (artists):</h3>
  {{#each-list model.groups as |artist|}}
    {{link-to artist.name "artist" artist}}
  {{/each-list}}
{{/if}}

{{outlet}}
